/* Clash Grotesk */
@font-face {
  font-family: 'Clash Grotesk';
  src: url('clash-0.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Clash Grotesk';
  src: url('clash-1.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Clash Grotesk';
  src: url('clash-2.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
